h1 {
  text-align: center;
}

.accounter__create {
  width: 470px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

label {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#submit {
  display: block;
  margin: 5px auto;
  width: 200px;
}

div {
  display: inline-block;
  width: 250px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

div span {
  margin-left: 20px;
  font-size: 18px;
  color: crimson;
}